extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2=undefined===user ? first_name : 'Welcome ' + user.full_name + '!'

  if message
    div.alert.alert-success.alert-dismissible.show.fade(role="alert")=message
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;

  form.mb-4(method='POST' action=undefined===user ? '' : user.url )

    div.form-group
      label(for='email') E-Mail 
      input#email.form-control(type='text' placeholder='Enter E-Mail (required)' name='email' value=undefined===user ? '' : user.email)
      small#emailHelp.form-text.text-muted(class=errors && errors.email ? 'd-none' : '') Enter a valid e-mail address.

    div.row
      div.col
        div.form-group
          label(for='first_name') First Name 
          input#first_name.form-control(type='text' placeholder='Enter First Name' name='first_name' value=undefined===user ? '' : user.first_name)
          small#first_nameHelp.form-text.text-muted(class=errors && errors.first_name ? 'd-none' : '') Enter your first name.

      div.col
        div.form-group
          label(for='last_name') Last Name 
          input#last_name.form-control(type='text' placeholder='Enter Last Name' name='last_name' value=undefined===user ? '' : user.last_name)
          small#last_nameHelp.form-text.text-muted(class=errors && errors.last_name ? 'd-none' : '') Enter your last name.

    div.form-group
      label(for='password1') Password 
      input#password1.form-control(type='password' placeholder='Enter password (required)' name='password1' value=undefined===user ? '' : 'TODO: password1')
      small#password1Help.form-text.text-muted Enter your password.

    div.form-group
      label(for='password1') Password Confirmation 
      input#password2.form-control(type='password' placeholder='Confirm password (required)' name='password2' value=undefined===user ? '' : 'TODO: password2')
      small#password2Help.form-text.text-muted Confirm your password.

    div.form-group
      button.btn.btn-primary.mr-3(type='submit') Save
      a.btn.btn-outline-secondary.mr-3(href='/users') Cancel
      a(class=undefined===user ? 'btn btn-outline-danger disabled' : 'btn btn-outline-danger' href=undefined===user ? '' : user.url + '/delete') Delete

    div.form-group
      div.form-text.text-muted=undefined===user ? '' : 'Created: ' + user.createDateFormatted + ' by ' + 'TODO' 
      div.form-text.text-muted=undefined===user ? '' : 'Modified: ' + user.modifiedDateFormatted  

