extends layout

block content
  div(class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom')
    h1(class='h2')= title

  if error
    p.alert.alert-danger Error getting dynamic content
  else

    svg(width="960", height="600")
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="/javascripts/d3.js")
