extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.text-danger Error
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary( href= section ) Back

  div.alert.alert-danger=undefined===message ? 'An unexpected error occured' : message
 

