extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Help 

  h2.h3 REST API

  table.table.table-sm
    thead
      tr
        th(scope="col") Path
        th(scope="col") Verb
        th(scope="col") Description 
    tbody
      tr
        td 
          a(href="/account" target="_blank")  /account  
        td GET
        td Display the current user's account information. Only accessible for authenticated users. 
      tr
        td 
          a(href="/api" target="_blank")  /api  
        td GET
        td Get a list of all available API routes.
      tr
        td 
          a(href="/api/links" target="_blank")  /api/links
        td GET
        td Get a list of all available links.
      tr
        td 
          a(href="/api/nodes" target="_blank")  /api/nodes 
        td GET
        td Get a list of all available nodes.
      tr
        td 
          a(href="/chart" target="_blank")  /chart
        td GET
        td A graphical visualization of the network. 
      tr
        td 
          a(href="/help" target="_blank")  /help
        td GET
        td This help page 
      tr
        td 
          a(href="/links" target="_blank")  /links
        td GET
        td Get the list of network links. Use the page parameter for paginating, e.g 
          a(href="/links?page=2" target="_blank")  /links?page=2
      tr
        td
          a(href="/links/create" target="_blank")  /links/create  
        td GET
        td Display the New Link form. 
      tr
        td 
          a(href="/nodes" target="_blank")  /nodes
        td GET
        td Get the list of network nodes. Use the page parameter for paginating, e.g 
          a(href="/nodes?page=2" target="_blank")  /nodes?page=2
      tr
        td  
          a(href="/nodes/create" target="_blank")  /nodes/create  
        td GET
        td Display the New Node form. 
      tr
        td /nodes/create  
        td POST 
        td Create new Node. 
      tr
        td  
          a(href="/nodes/upload" target="_blank")  /nodes/upload  
        td GET
        td Display the Upload Nodes form. 
      tr
        td  /nodes/upload
        td POST 
        td Process Nodes Upload. 
      tr
        td
          a(href="/sign-in" target="_blank")  /sign-in
        td GET
        td Display the Sign in form. 
      tr
        td /sign-in  
        td POST 
        td Send Sign in form data.  
      tr
        td
          a(href="/sign-up" target="_blank")  /sign-up 
        td GET
        td Display the Sign up form. 
      tr
        td /sign-up  
        td POST 
        td Send Sign up form data.  
      tr
        td
          a(href="/sign-out" target="_blank")  /sign-out  
        td GET
        td Sign out the current user, invalidate the session and redirect to the default landing page.
