extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2= title

  h2.h3 Welcome to the Networks Service!
  
  p.lead.mb-4 Networks is a a service that allows you to document, investigate and share network data in a collaborative fashion.
  
  h2.h3.mb-3 Getting Started

  div.row.mb-4
    div.col-12.col-md-4
      h3.h4 1. Sign up or Sign in
      div.mb-3 Create a free account at networks or use your favourite social media account to sign in. 
      a.btn.btn-outline-primary(href='/sign-in') Sign in

    div.col-12.col-md-4
      h3.h4 2. Create a project
      div.mb-3 Add a new project or join an existing one. Define the type of nodes and possible links you want to analyze.
      a.btn.btn-outline-primary(href='/help/getting-started') Learn more

    div.col-12.col-md-4
      h3.h4 3. Document and analyze 
      div.mb-3 Add nodes and track their connection or choose to upload already existing network data.  
      a.btn.btn-outline-primary(href='/help/getting-started') Learn more

  h2.h3 Help 

  p The Networks API is documented in the 
    a(href='/help' target='_blank') /help 
    span section. 

