doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') kulturtechniker 
      input.form-control.form-control-dark.w-100(type='text', placeholder='Search', aria-label='Search')
      ul.navbar-nav.navbar-dark.px-3
        if (!user)
          li.nav-item.d-flex
            a.nav-link.text-nowrap(href='/sign-in') Sign in
            span.navbar-text.px-2.muted or
            a.nav-link.text-nowrap(href='/sign-up') Sign up 
        if (user)
          li.nav-item.d-flex
            a.nav-link.text-nowrap(href='/account' title='Account') 
              span(data-feather='user')
            span.navbar-text.text-nowrap.mr-2  
            a.nav-link.text-nowrap(href='/sign-out') Sign out 

    div.container-fluid
      div.row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          div.sidebar-sticky
            ul.nav.flex-column.border-bottom.py-1
              li.nav-item
                a(href='/', class= section === '/' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='home')
                  span Home 
              li.nav-item
                a(href='/projects', class= section === '/projects' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='package')
                  span Projects 
              li.nav-item
                a(href='/nodes', class= section === '/nodes' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='list')
                  span Nodes 
              li.nav-item
                a(href='/links', class= section === '/links' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='list')
                  span Links 
              li.nav-item
                a(href='/chart', class= section === '/chart' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='bar-chart-2')
                  span Chart 
              li.nav-item
                a(href='/users', class= section === '/users' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='users')
                  span Users 

            if (user)
              ul.nav.flex-column.border-bottom.py-1
                li.nav-item
                  a(href='/account', class= section === '/account' ? 'nav-link active' : 'nav-link') 
                    span(data-feather='user')
                    span Account 

            ul.nav.flex-column.py-1
              li.nav-item
                a(href='/help', class= section === '/help' ? 'nav-link active' : 'nav-link') 
                  span(data-feather='help-circle')
                  span Help 

    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
      block content


    script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
    script.
      feather.replace() 


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

