extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2=undefined===link ? 'Create Link' : 'Edit Link ' + link._id  
    divbtn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/links') Back 

  form(method='POST' action=undefined===link ? '' : link.url )

    if message
      div.alert.alert-success.alert-dimissible.fade.show(role="alert")= message
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
 
    div(class='form-group')
      label(for='source') Source
      select#source.custom-select(name='source')
        each node in nodes 
          if undefined !== link && node._id == link.source
            option(selected value=node._id)= node.id
          else 
            option(value=node._id)= node.id
      small(id='sourceHelp' class='form-text text-muted') Select the source node of this link.
 
    div(class='form-group')
      label(for='target') Target 
      select#target.custom-select(name='target')
        each node in nodes 
          if undefined !== link && node._id == link.target 
            option(selected value=node._id)= node.id
          else 
            option(value=node._id)= node.id
      small(id='targetHelp' class='form-text text-muted') Select the target node of this link.
 
    div(class='form-group')
      label(for='value') Value 
      input#value.form-control(type='text' placeholder='Enter Value' name='value' value=undefined===link ? '' : link.value)
      small(id='valueHelp' class='form-text text-muted') Enter the value of this link.

    div(class='form-group')
      if user
        button.btn.btn-primary.mr-3(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/links') Cancel 
        a(class=undefined===link ? 'btn btn-outline-danger disabled' : 'btn btn-outline-danger' href=undefined===link ? '' : link.url + '/delete') Delete 
      else 
        button.btn.btn-primary.mr-3.disabled(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/links') Cancel 
        a.btn.btn-outline-danger.disabled(href='#') Delete 

    div.form-group
      div.form-text.text-muted=undefined===link ? '' : 'Created: ' + link.createDateFormatted + ' by ' + link.user.full_name
      div.form-text.text-muted=undefined===link ? '' : 'Modified: ' + link.modifiedDateFormatted  

  if errors 
    ul
      for error in errors
        li!= error.message
