extends layout

block content
  div(class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom')
    h1(class='h2 text-danger')=undefined===link ? title : 'Delete ' + link._id + '?'
    div(class='btn-toolbar mb-2 mb-md-0')
      a(class='btn btn-outline-secondary' href='/links') Cancel

  div(class='alert alert-danger') 
    span Are you you sure you want to delete this Link?

  form(method='POST', action='')
    div(class='form-group')
      input#linkid.form-control(type='hidden',name='linkid', required='true', value=link._id ) 
  
    button(type='submit' class='btn btn-danger mr-3') Delete
    a(class='btn btn-outline-secondary' href='/links') Cancel
 

     

