extends layout

include ./mixins

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.flex-grow-1= title
    div.btn-toolbar.mb-2.mb-md-0.mr-3
      div.btn-group.btn-group-sm
        if user
          a.btn.btn-outline-secondary(href='/links/upload') 
            span.mr-1(data-feather='upload')
            span Import
        else
          a.btn.btn-outline-secondary.disabled(href='#') 
            span.mr-1(data-feather='upload')
            span Import

        a.btn.btn-outline-secondary(href='/api/links' target='_blank')  
          span.mr-1(data-feather='download') 
          span Export 
    div.btn-toolbar.mb-2.mb-md-0
      if user
        a.btn.btn-success(href='/links/create') Add Link
      else 
        a.btn.btn-success.disabled(href='#') Add Link

  if error
    p Error getting dynamic content
  else

    +pagination('/links', data)

    table.table.table-striped
      thead
        tr
          th(scope='col') Source 
          th(scope='col') Target 
          th(scope='col') Value 
          th(scope='col') ID 
          th(scope='col') Create Date 
          th(scope='col') Modified Date 
          th(scope='col')  
      tbody
        each link in data.docs
          tr
            td.align-middle
              a(href=link.url) #{link.source.id}
            td.align-middle
              a(href=link.url) #{link.target.id}
            td.align-middle
              a(href=link.url) #{link.value}
            td.align-middle 
              a(href=link.url) #{link._id}
            td.align-middle
              a(href=link.url) #{link.createDateFormatted}
            td.align-middle
              a(href=link.url) #{link.modifiedDateFormatted}
            td.text-right
              if user
                a.btn.btn-sm.btn-outline-dark.mr-2(href=link.url) Edit
                a.btn.btn-sm.btn-danger(href=link.url + '/delete') Delete 
              else
                a.btn.btn-sm.btn-outline-dark.mr-2(href=link.url) View 

    +pagination('/links', data)

