mixin pagination(path, data)

  if data.pages >= 1
  
  nav
    ul.pagination.justify-content-center
  
      if data.page == 1
        li.page-item.disabled
          a.page-link
            span(aria-hidden="true", data-feather='skip-back')
            span.sr-only First
      else
        li.page-item
          a.page-link(href=path + '?page=' + (1) )
            span(aria-hidden="true", data-feather='skip-back')
            span.sr-only First
  
      if data.page > 1
        li.page-item
          a.page-link(href=path + '?page=' + (data.page - 1) )
            span.back(aria-hidden="true", data-feather='play')
            span.sr-only Previous
      else
        li.page-item.disabled
          a.page-link 
            span.back(aria-hidden="true", data-feather='play')
            span.sr-only Previous
 
      - var i = 1;
      - center = 3;
      - var maxPages = 5;
      - var end = maxPages;
  
      if data.page > center
        if data.page < data.pages - (center - 1)
          - i = data.page - (center - 1);
          - end = i + (maxPages - 1) 
        else 
          - i = data.pages - (maxPages - 1);
          - end = data.pages 

      if data.pages < maxPages
        - end = data.pages

      while i <= end 
        if i === data.page
          li.page-item.active
            a.page-link(href=path + '?page=' + i)= i
        else   
          li.page-item
            a.page-link(href=path + '?page=' + i)= i
        - i++

      if data.page < data.pages
        li.page-item
          a.page-link(href=path + '?page=' + (data.page + 1) )
            span(aria-hidden="true", data-feather='play')
            span.sr-only Next
      else
        li.page-item.disabled
          a.page-link.disabled
            span(aria-hidden="true", data-feather='play')
            span.sr-only Next
  
      if data.page == data.pages
        li.page-item.disabled
          a.page-link
            span(aria-hidden="true", data-feather='skip-forward')
            span.sr-only Last
      else
        li.page-item
          a.page-link(href=path + '?page=' + (data.pages) )
            span(aria-hidden="true", data-feather='skip-forward')
            span.sr-only Last
  
