extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Upload Nodes
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/nodes') Back 

  if message
    div.alert.alert-success.alert-dismissible.show.fade(role="alert")=message
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
                                     
  form.mb-4(method='POST' enctype='multipart/form-data')

    div.form-group 
      div.custom-file
        input#file.custom-file-input(type='file' name='file')
        label.custom-file-label(for='file') Choose File
 
    div.form-group
      button.btn.btn-primary.mr-3(type='submit') Import 
      a.btn.btn-outline-secondary.mr-3(href='/nodes') Cancel 

  script.
    $('#file').on('change',function(){
      var fileName = $(this).val();
      $(this).next('.custom-file-label').html(fileName);
    })

