extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.text-danger=undefined===node ? title : 'Delete ' + node._id + '?'
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/nodes') Cancel

  div.alert.alert-danger 
    span Are you you sure you want to delete this Node?

  form(method='POST', action='')
    div.form-group
      input#nodeid.form-control(type='hidden', name='nodeid', required='true', value=node._id ) 
 
    div.mb-3

      if links.length > 0
        button.btn.btn-danger.mr-3.disabled(type='submit' disabled) Delete
      else 
        button.btn.btn-danger.mr-3(type='submit') Delete
      a.btn.btn-outline-secondary(href='/nodes') Cancel

    if links.length > 0

      div.alert.alert-danger The following <strong>#{links.length}</strong> Links depend on this node:  

      table.table.table-danger
        thead
          tr
            th(scope='col') #
            th(scope='col') Source
            th(scope='col') Target
            th(scope='col') Value
            th(scope='col')
        tbody
          each link in links
            tr
              td.align-middle
                a(href=link.url) #{link._id}
              td.align-middle
                a(href=link.url) #{link.source.id}
              td.align-middle
                a(href=link.url) #{link.target.id}
              td.align-middle
                a(href=link.url) #{link.value}
              td.text-right
                a.btn.btn-sm.btn-danger(href=link.url + '/delete') Delete
 
