extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2=undefined===node ? title : 'Edit Node ' + node._id  
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/nodes') Back 

  if message
    div.alert.alert-success.alert-dismissible.show.fade(role="alert")=message
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
                                     
  form.mb-4(method='POST' action=undefined===node ? '' : node.url )

    div(class='form-group')
      label(for='project') Project 
      select#project.custom-select(name='project')
        each project in projects
          if undefined !== node && project._id == node.project
            option(selected value=project._id)= project.title
          else
            option(value=project._id)= project.title

        small(id='projectHelp' class='form-text text-muted') Select the project 


    div.form-group
      label(for='id') Id
      input#id.form-control(class=errors && errors.id ? 'is-invalid' : '' type='text' placeholder='Enter Id (required)' name='id' value=undefined===node ? '' : node.id)
      div.invalid-feedback Please enter an id for this node!
      small#idHelp.form-text.text-muted(class=errors && errors.id? 'd-none' : '') Enter an id for this node.
 
    div.form-group
      label(for='group') Group 
      input#group.form-control(type='text' placeholder='Enter Group' name='group' value=undefined===node ? '' : node.group)
      small#groupHelp.form-text.text-muted Enter the group of this node.
 
    div.form-group
      if user
        button.btn.btn-primary.mr-3(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/nodes') Cancel 
        a(class=undefined===node ? 'btn btn-outline-danger disabled' : 'btn btn-outline-danger' href=undefined===node ? '' : node.url + '/delete') Delete 
      else  
        button.btn.btn-primary.mr-3.disabled(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/nodes') Cancel 
        a.btn.btn-outline-danger.disabled(href='#') Delete 

    div.form-group
      div.form-text.text-muted=undefined===node ? '' : 'Created: ' + node.createDateFormatted + ' by ' + node.user.full_name
      div.form-text.text-muted=undefined===node ? '' : 'Modified: ' + node.modifiedDateFormatted  

  if links && links.length > 0

    div.alert.alert-info The following <strong>#{links.length}</strong> Links depend on this node:

    table.table.table-sm
      thead
        tr
          th(scope='col') #
          th(scope='col') Source
          th(scope='col') Target
          th(scope='col') Value
          th(scope='col')
      tbody
        each link in links
          tr
            td.align-middle
              a(href=link.url) #{link._id}
            td.align-middle
              a(href=link.url) #{link.source.id}
            td.align-middle
              a(href=link.url) #{link.target.id}
            td.align-middle
              a(href=link.url) #{link.value}
            td.text-right
              a.btn.btn-sm.btn-danger(href=link.url + '/delete') Delete



