extends layout

include ./mixins

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.flex-grow-1= title
    div.btn-toolbar.mb-2.mb-md-0.mr-3
      div.btn-group.btn-group-sm
        if user
          a.btn.btn-outline-secondary(href='/nodes/upload')
            span.mr-1(data-feather='upload')
            span Import
        else 
          a.btn.btn-outline-secondary.disabled(href='#')
            span.mr-1(data-feather='upload')
            span Import
        a.btn.btn-outline-secondary(href='/api/nodes' target='_blank')
          span.mr-1(data-feather='download')
          span Export
    div.btn-toolbar.mb-2.mb-md-0
      if user
        a.btn.btn-success(href='/nodes/create') Add Node 
      else 
        a.btn.btn-success.disabled(href='#') Add Node 

  if error
    p Error getting dynamic content
  else

    +pagination('/nodes', data)

    table.table.table-striped
      thead
        tr
          th(scope='col') Id 
          th(scope='col') Group 
          th(scope='col') ID 
          th(scope='col') Create Date 
          th(scope='col') Modified Date 
          th(scope='col')
      tbody
        each node in data.docs 
          tr
            td.align-middle
              a(href=node.url) #{node.id}
            td.align-middle
              a(href=node.url) #{node.group}
            td.align-middle
              a(href=node.url) #{node._id}
            td.align-middle
              a(href=node.url) #{node.createDateFormatted}
            td.align-middle
              a(href=node.url) #{node.modifiedDateFormatted}
            td.text-right
              if user
                a.btn.btn-sm.btn-outline-dark.mr-2(href=node.url) Edit
                a.btn.btn-sm.btn-danger(href=node.url + '/delete') Delete
              else
                a.btn.btn-sm.btn-outline-dark.mr-2(href=node.url) View

    +pagination('/nodes', data)

