extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.text-danger=undefined===project ? title : 'Delete ' + project._id + '?'
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/projects') Cancel

  div.alert.alert-danger 
    span Are you you sure you want to delete this Project?

  form(method='POST', action='')

    div.form-group
    label(for='title') Title
    input#title.form-control(placeholder='Enter Title (required)' name='title' value=project.title, disabled)
    small#titleHelp.form-text.text-muted(class=errors && errors.title ? 'd-none' : '') Enter a title for this project.

    div.form-group
    label(for='description') Description
    textarea#description.form-control(type='text' placeholder='Enter Description' name='description' disabled)=project.description
    small#descriptionHelp.form-text.text-muted Enter a description for this project.

    div.form-group
      input#projectid.form-control(type='hidden', name='projectid', required='true', value=project._id ) 
 
    div.mb-3

      if nodes && nodes.length > 0
        button.btn.btn-danger.mr-3.disabled(type='submit' disabled) Delete
      else 
        button.btn.btn-danger.mr-3(type='submit') Delete
      a.btn.btn-outline-secondary(href='/projects') Cancel

    div.form-group
      div.form-text.text-muted=undefined===project ? '' : 'Created: ' + project.createDate
      div.form-text.text-muted=undefined===project ? '' : 'Modified: ' + project.modifiedDate


    if nodes && nodes.length > 0

      div.alert.alert-danger The following <strong>#{nodes.length}</strong> Nodes depend on this project:  

      table.table.table-danger
        thead
          tr
            th(scope='col') #
            th(scope='col') Source
            th(scope='col') Target
            th(scope='col') Value
            th(scope='col')
        tbody
          each node in nodes
            tr
              td.align-middle
                a(href=node.url) #{node._id}
              td.align-middle
                a(href=node.url) #{node}
              td.align-middle
                a(href=node.url) #{node}
              td.align-middle
                a(href=node.url) #{node.value}
              td.text-right
                a.btn.btn-sm.btn-danger(href=node.url + '/delete') Delete
 
