extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2=undefined===project ? title : 'Edit Project ' + project._id  
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/projects') Back 

  if message
    div.alert.alert-success.alert-dismissible.show.fade(role="alert")=message
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;

  form.mb-4(method='POST' action=undefined===project ? '' : project.url )
    div.form-group
      label(for='title') Title 
      input#title.form-control(class=errors && errors.title ? 'is-invalid' : '' type='text' placeholder='Enter Title (required)' name='title' value=undefined===project ? '' : project.title)
      div.invalid-feedback Please enter a title for this project!
      small#titleHelp.form-text.text-muted(class=errors && errors.title ? 'd-none' : '') Enter a title for this project.
 
    div.form-group
      label(for='description') Description 
      textarea#description.form-control(type='text' placeholder='Enter Description' name='description')=undefined===project ? '' : project.description
      small#descriptionHelp.form-text.text-muted Enter a description for this project.
 
    div.form-group
      if user
        button.btn.btn-primary.mr-3(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/projects') Cancel 
        a(class=undefined===project ? 'btn btn-outline-danger disabled' : 'btn btn-outline-danger' href=undefined===project ? '' : project.url + '/delete') Delete 
      else 
        button.btn.btn-primary.mr-3.disabled(type='submit') Save
        a.btn.btn-outline-secondary.mr-3(href='/projects') Cancel 
        a.btn.btn-outline-danger.disabled(href='#') Delete 

    div.form-group
      div.form-text.text-muted=undefined===project ? '' : 'Created: ' + project.createDateFormatted + ' by ' + project.user.full_name
      div.form-text.text-muted=undefined===project ? '' : 'Modified: ' + project.modifiedDateFormatted  

  if nodes && nodes.length > 0

    div.alert.alert-info The following <strong>#{nodes.length}</strong> nodes depend on this project:

    table.table.table-sm
      thead
        tr
          th(scope='col') #
          th(scope='col') Id 
          th(scope='col')
      tbody
        each node in nodes
          tr
            td.align-middle
              a(href=node.url) #{node._id}
            td.align-middle
              a(href=node.url) #{node.id}
            td.text-right
              a.btn.btn-sm.btn-danger(href=node.url + '/delete') Delete

