extends layout

include ./mixins

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.flex-grow-1= title
    div.btn-toolbar.mb-2.mb-md-0.mr-3
      div.btn-group.btn-group-sm
        if user
          a.btn.btn-outline-secondary(href='/projects/upload')
            span.mr-1(data-feather='upload')
            span Import
        else 
          a.btn.btn-outline-secondary.disabled(href='#')
            span.mr-1(data-feather='upload')
            span Import

        a.btn.btn-outline-secondary(href='/api/projects' target='_blank')
          span.mr-1(data-feather='download')
          span Export
    div.btn-toolbar.mb-2.mb-md-0
      if user
        a.btn.btn-success(href='/projects/create') Add Project 
      else 
        a.btn.btn-success.disabled(href='#') Add Project 

  if error
    p Error getting dynamic content
  else

    if data && data.docs.length > 0

      +pagination('/projects', data)

      table.table.table-striped
        thead
          tr
            th(scope='col') Title 
            th(scope='col') ID 
            th(scope='col') Create Date 
            th(scope='col') Modified Date 
            th(scope='col')
        tbody
            each project in data.docs 
              tr
                td.align-middle
                  a(href=project.url) #{project.title}
                td.align-middle
                  a(href=project.url) #{project._id}
                td.align-middle
                  a(href=project.url) #{project.createDateFormatted}
                td.align-middle
                  a(href=project.url) #{project.modifiedDateFormatted}
                td.text-right
                  if user
                    a.btn.btn-sm.btn-outline-dark.mr-2(href=project.url) Edit
                    a.btn.btn-sm.btn-danger(href=project.url + '/delete') Delete
                  else 
                    a.btn.btn-sm.btn-outline-dark(href=project.url) View 

      +pagination('/projects', data)

    else 

      div.alert.alert-info There are no projects.

