extends layout

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Sign Up here
    div.btn-toolbar.mb-2.mb-md-0
      a.btn.btn-outline-secondary(href='/') Back

  form(role='form', action="/sign-up", method="post")
    div.form-group
      label.sr-only(for='inputEmail')
      input.form-control(type='text', name='email', id='inputEmail', placeholder='Email', required, autofocus)

    div.form-group
      input.form-control(type='password', name='password', id='inputPassword', placeholder='Password')
      input.form-control(type='hidden', name='redirect', id='inputRedirect', value=redirect)

    div.form-group
      button.btn.btn-success(type='submit') Sign Up 

