extends layout

block content
  div.d-flexjustify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.text-success Success  

  div.alert.alert-success= undefined===message ? 'Your request completed successfully' : message
