extends layout

include ./mixins

block content
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2.flex-grow-1= title
    div.btn-toolbar.mb-2.mb-md-0.mr-3
      div.btn-group.btn-group-sm
        if user
          a.btn.btn-outline-secondary(href='/users/upload') 
            span.mr-1(data-feather='upload')
            span Import
        else
          a.btn.btn-outline-secondary.disabled(href='#') 
            span.mr-1(data-feather='upload')
            span Import
        a.btn.btn-outline-secondary(href='/api/users' target='_blank')
          span.mr-1(data-feather='download')
          span Export
    div.btn-toolbar.mb-2.mb-md-0
      if user
        a.btn.btn-success(href='/users/create') Add User 
      else  
        a.btn.btn-success.disabled(href='#') Add User 

  if error
    p Error getting dynamic content
  else

    if data && data.docs.length > 0

      +pagination('/users', data)

      table.table.table-striped
        thead
          tr
            th(scope='col') Last Name 
            th(scope='col') First Name 
            th(scope='col') ID 
            th(scope='col') Create Date 
            th(scope='col') Modified Date 
            th(scope='col')
        tbody
          each user in data.docs 
            tr
              td.align-middle
                a(href=user.url) #{user.last_name}
              td.align-middle
                a(href=user.url) #{user.first_name}
              td.align-middle
                a(href=user.url) #{user._id}
              td.align-middle
                a(href=user.url) #{user.createDateFormatted}
              td.align-middle
                a(href=user.url) #{user.modifiedDateFormatted}
              td.text-right
                if user_
                  a.btn.btn-sm.btn-outline-dark.mr-2(href=user.url) Edit
                  a.btn.btn-sm.btn-danger(href=user.url + '/delete') Delete
                else 
                  a.btn.btn-sm.btn-outline-dark.mr-2(href=user.url) View 

      +pagination('/users', data)

    else 

      div.alert.alert-info There are no users.

