body
  font-size: .875rem;

.feather 
  width: 16px
  height: 16px

/*
 * Pagination 
 */
.pagination 
  .page-link
    .feather
      height: 12px
      width: 12px

    .feather-play.back 
      -moz-transform: scaleX(-1)
      -o-transform: scaleX(-1)
      -webkit-transform: scaleX(-1)
      transform: scaleX(-1)
      filter: FlipH
      -ms-filter: "FlipH"

/*
 * Sidebar 
 */

.sidebar 
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 100 /* Behind the navbar */
  padding: 48px 0 0 /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0,0,0,.1)

  .nav-link
    font-weight: 500
    color: #333

    .feather 
      margin-right: 4px
      color: #999

    &.active 
      color: #007bff

    &:hover .feather,
    &.active .feather
      color: inherit

.sidebar-sticky 
  position: relative
  top: 0
  height: calc(100vh -48px)
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto /* Scrollable contents if viewport is shorter than content. */

@supports((position: -webkit-sticky) or (position: sticky))
  .sidebar-sticky
    position: -webkit-sticky
    position: sticky

/*
 * Content
 */

[role="main"] 
  padding-top: 48px /* Space for fixed navbar */


/*
 * Navbar
 */
.navbar

  .navbar-brand
    padding-top: .75rem
    padding-bottom: .75rem
    font-size: 1rem
    letter-spacing: 0.03rem
    background-color: rgba(0,0,0,.25)
    box-shadow: inset -1xp 0 0 rgba(0,0,0,.25)

  .form-control 
    padding: .75rem 1rem
    border-width: 0;
    border-radius: 0;

  .form-control-dark 
    color: #fff
    background-color: rgba(255,255,255,.1)
    border-color: rgba(255,255,255,.1)

    &:focus 
      border-color: transparent
      box-shadow: 0 0 0 3px rgba(255,255,255,.25) 

.table 
  .btn-outline-dark
    background-color: #fff
    
    &:hover
      background-color: #343a40 /* default background */

/**
 * D3
 */
.links line 
  stroke: #999;
  stroke-opacity: 0.6;


.nodes circle 
  stroke: #fff;
  stroke-width: 1.5px;

